
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Node Seed Project</title>
	<meta name="author" content="Author" />
	<meta name="description" content="Description" />
	<meta name="copyright" content="Copyright" />
	<link rel="shortcut icon" href="/images/icon.png">
	
	<!-- css reset -->
	<link rel="stylesheet" type="text/css" href="/css/lib/normalize.css">
	
	<!-- css lib -->
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/lib/animate.min.css">

	<!-- custom css -->
	<link rel="stylesheet" type="text/css" href="/css/index.css">

	<!-- lobster font -->
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>