
<div class="container">
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li role="presentation" class="active"><a href="/">Home</a></li>
				<li role="presentation"><a target="_new" href="https://github.com/tamasszoke/NodeSeedProject">View on GitHub</a></li>
				<li role="presentation"><a href="https://github.com/tamasszoke/NodeSeedProject/archive/master.zip">Download .zip</a></li>
			</ul>
		</nav>
		<img class="icon" src="images/icon.png"/><font class="title">Node Seed Project</font>
	</div>
</div>