
<div class="container">
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li role="presentation" class="active"><a href="/">Home</a></li>
				<li role="presentation"><a target="_new" href="https://github.com/tamasszoke/NodeSeedProject">About</a></li>
				<li role="presentation"><a href="mailto:tamas.szoke.dev@gmail.com?Subject=Contact%20|%20NodeSeedProject">Contact</a></li>
			</ul>
		</nav>
		<img class="icon" src="images/icon.png"/><font class="title">Node Seed Project</font>
	</div>
</div>