
<!DOCTYPE html>
<html>
	<!-- Header -->
	<% include components/header %>
	<body>

		<!-- Navigation -->
		<% include components/navigation %>

		<!-- Content -->
		<% if (page == 'main') { %>
			
			<% include pages/main %>
		
		<% } else { %>
		
			<% include pages/error %>
		<% } %>
		
		<!-- Footer -->
		<% include components/footer %>

		<!-- Scripts -->
		<% include components/scripts %>
	</body>
</html>
