
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="panel panel-danger">
				<div class="panel-heading">Error 404</div>
				<div class="panel-body">
					<h2>Page not found!</h2>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>