
<div class="container">
	<div class="header clearfix">
		<nav>
			<ul class="nav nav-pills pull-right">
				<li role="presentation" class="active"><a href="#">Home</a></li>
				<li role="presentation"><a target="_new" href="https://github.com/tamasszoke/NodeSeedProject">About</a></li>
				<li role="presentation"><a href="mailto:tamas.szoke.dev@gmail.com?Subject=Contact%20|%20NodeSeedProject">Contact</a></li>
			</ul>
		</nav>
		<h1>Node Seed Project</h1>
	</div>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="panel panel-danger">
				<div class="panel-heading">Error 404</div>
				<div class="panel-body">
					<h2>Page not found!</h2>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>