
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">Installation</div>
				<div class="panel-body">
					<p>1. Install Nodemon: <code>npm install nodemon -g</code></p>
					<p>2. Install Grunt: <code>npm install -g grunt-cli</code></p>
					<p>3. Install Node modules: <code>sudo npm install</code></p>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">Usage</div>
				<div class="panel-body">
					<p>1. Start Nodemon: <code>nodemon app.js</code></p>
					<p>2. Start Grunt: <code>grunt watch</code></p>
					<p>3. Go to <code>localhost:3000</code> in browser</p>
					<p>4. Test: <code>npm test</code></p>
					<p>Note: don't forget to start mongoDB.</p>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">Launcher script</div>
				<div class="panel-body">
					<p>Script to start the Server, the Grunt Watch task, the Sublime Text editor and open the application in the default browser. You can find it on GitHub!</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">Modules (default versions)</div>
				<div class="panel-body">
					<ul>
						<li><h4><span class="label label-success">Express</span> <span class="badge">4.15.2</span></h4>
						<ul>
								<li><h4><span class="label label-success">Body Parser</span> <span class="badge">1.17.1</span></h4></li>
								<li><h4><span class="label label-success">Cookie Parser</span> <span class="badge">1.4.3</span></h4></li>
								<li><h4><span class="label label-success">Express Session</span> <span class="badge">1.15.2</span></h4></li>
							</ul>
						</li>
						<li><h4><span class="label label-success">Helmet</span> <span class="badge">3.12.1</span></h4></li>
						<li><h4><span class="label label-success">EJS</span> <span class="badge">2.5.6</span></h4></li>
						<li><h4><span class="label label-success">Mocha</span> <span class="badge">5.2.0</span></h4></h4></li>
						<li><h4><span class="label label-success">Chai</span> <span class="badge">4.1.2</span></h4></h4></li>
						<li><h4><span class="label label-success">Mongoose</span> <span class="badge">5.1.3</span></h4></h4></li>
						<li><h4><span class="label label-success">Socket.IO</span> <span class="badge">1.7.4</span></h4></li>
						<li><h4><span class="label label-success">Passport</span> <span class="badge">0.3.2</span></h4>
							<ul>
								<li><h4><span class="label label-success">Passport Facebook</span> <span class="badge">2.1.1</span></h4></li>
								<li><h4><span class="label label-success">Passport Twitter</span> <span class="badge">1.0.4</span></h4></li>
								<li><h4><span class="label label-success">Passport Google-oauth</span> <span class="badge">1.0.0</span></h4></li>
							</ul>
						</li>
						<li><h4><span class="label label-success">Nodemailer</span> <span class="badge">1.11.0</span></h4><ul>
								<li><h4><span class="label label-success">Nodemailer SMTP Transport</span> <span class="badge">2.7.4</span></h4></li>
							</ul>
						</li>
						<li><h4><span class="label label-success">Async</span> <span class="badge">2.4.0</span></h4></li>
						<li><h4><span class="label label-success">Grunt</span> <span class="badge">0.4.5</span></h4>
							<ul>
								<li><h4><span class="label label-success">Grunt Contrib JSHint</span> <span class="badge">1.1.0</span></h4></li>
								<li><h4><span class="label label-success">Grunt Contrib UglifyJS</span> <span class="badge">2.3.0</span></h4></li>
								<li><h4><span class="label label-success">Grunt Contrib SASS</span> <span class="badge">1.0.0</span></h4></li>
								<li><h4><span class="label label-success">Grunt Contrib Watch</span> <span class="badge">0.6.1</span></h4></li>
								<li><h4><span class="label label-success">Grunt Notify</span> <span class="badge">0.4.5</span></h4></li>
							</ul>
						</li>
						<li><h4><span class="label label-success">Request</span> <span class="badge">2.81.0</span></h4></li>
						<li><h4><span class="label label-success">Path</span> <span class="badge">0.12.7</span></h4></li>
						<li><h4><span class="label label-success">Winston</span> <span class="badge">3.0.0-rc6</span></h4></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-success">
				<div class="panel-heading">Built-in extras (optional)</div>
				<div class="panel-body">
					<ul>
						<li><h4><span class="label label-success">JQuery</span> <span class="badge">3.2.1</span></h4></li>
						<li><h4><span class="label label-success">AngularJS</span> <span class="badge">1.6.4</span></h4></li>
						<li><h4><span class="label label-success">Bootstrap</span> <span class="badge">3.3.7</span></h4></li>
						<li><h4><span class="label label-success">Font awesome</span> <span class="badge">4.7</span></h4></li>
						<li><h4><span class="label label-success">Animate CSS</span> <span class="badge">3.5.2</span></h4></li>
						<br/>
						<li>Prepared for <code>HTTPS</code></li>
						<li>Custom logging function</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">Note</div>
				<div class="panel-body">
					<i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
					<p class="text">Thank you for using my project!<br/>Feel free to follow me on GitHub.</p>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">License</div>
				<div class="panel-body">
					<a href="https://github.com/tamasszoke/NodeSeedProject/blob/master/LICENSE" target="_new">The MIT License (MIT)</a>
				</div>
			</div>
		</div>
	</div>
</div>
