
$font-color: #fff;
$font-lobster: 'Lobster', cursive;
$font-shadow: 2px 2px 5px #000;

$background: url('/images/background.jpg');
$background-panel: rgba(0, 0, 0, .3);

$icon-size: 60px;
$box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .5);

body {
	padding-top: 20px;
	background: $background;
	background-size: cover;
	color: $font-color;
}

a{
	color: $font-color;
}

.nav{
	margin-top: 8px;
}

.active{
	box-shadow: $box-shadow;
}

.title{
	margin-top: 0;
	margin-left: 15px;
	font-family: $font-lobster;
	font-size: 48px;
	text-shadow: $font-shadow;
	line-height: $icon-size;
}

.icon{
	width: $icon-size;
	height: $icon-size;
	vertical-align: top;
}

.row{
	padding-top: 50px;
}

.panel{
	background: $background-panel;
	box-shadow: $box-shadow;
}

.panel li{
	font-size: 14px;
}

.footer{
	margin-top: 50px;
	margin-left: 20px;
}