
$font-color: #fff;
$background: url('/images/background.jpg');
$panel-background: rgba(0, 0, 0, .3);
$box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .5);

body {
	padding-top: 20px;
	background: $background;
	background-size: cover;
	color: $font-color;
}

h1{
	margin-top: 0;
}

a{
	color: $font-color;
}

.row{
	padding-top: 50px;
}

.panel{
	background: $panel-background;
	box-shadow: $box-shadow;
}

.panel li{
	font-size: 14px;
}

.footer{
	margin-top: 50px;
	margin-left: 20px;
}